GROQ_API_KEY=gsk_your_groq_api_key_here
MONGODB_URL=mongodb+srv://username:password@cluster0.mongodb.net/
MONGODB_DB_NAME=interviewIQ

CLERK_SECRET_KEY=sk_test_your_clerk_secret_key_here

CLERK_JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nYOUR_PUBLIC_KEY_HERE\n-----END PUBLIC KEY-----"
ELEVENLABS_API_KEY=sk_your_elevenlabs_api_key_here
ELEVENLABS_VOICE_ID=your_elevenlabs_voice_id_here
FRONTEND_URL=http://localhost:3000

# Fallback TTS API Key
SARVAM_API_KEY=YOUR_SARVAM_API_KEY_HERE
